html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*, *:before, *:after {
  box-sizing: inherit;
  
}

@-ms-viewport {
  width: device-width;
}


// @import 'abstracts/variables';
// abstracts
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
// base
@import 'base/normalize';
@import 'base/typography';
@import 'base/colors';
// layout
@import 'layout/grid';
@import 'layout/navigation';
// components
// pages
@import 'pages/home';